@model Todo.Site.Models.Tag

@{
    ViewBag.Title = "Suppression du tag";
}

<h3>Etes vous sûrs de vouloir faire cela ?</h3>
<p class="label label-inverse">Les articles correspondants seront supprimés !</p>

<section>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.title) :   @Html.DisplayFor(model => model.title)
    </div>     
</section>
<br /><br />
@using (Html.BeginForm()) {
    <aside>
        <input type="submit" value="Supprimer" class="btn btn-warning" /> |
        @Html.ActionLink("Retour à la liste", "Index")
    </aside>
}
