@model Todo.Site.Models.Tag

@{
    ViewBag.Title = "Details";
}

<section>
    <div class="display-label">
        <h3> @Html.DisplayNameFor(model => model.title)</h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>
</section>
<aside>
    @Html.ActionLink("Editer", "Edit", new { id = Model.TagId }) |
    @Html.ActionLink("Retour à la liste", "Index")
</aside>
