@model IEnumerable<Todo.Site.Models.Article>

@foreach (var item in Model) {
   <li> <a href="@Url.Action("Details","Article", new { id=item.ArticleId })">@Html.DisplayFor(modelItem => item.title)</a></li>
}