@{
    ViewBag.Title = "Le projet MyBeautyfullCMS";
}

<section class="content">
   <div class="container">
      <div class="row">
         <div class="span12">          
            <div class="faq">
               <div class="row">
                  <div class="span12">                   
                     <div class="hero">                 
                        <h3><span>Le Projet MyBeautyfullCMS</span></h3>
                        
                        <p>Réalisé à l'aide du framework <b>asp.net MVC 4</b> et tiré d'un thème personnalisé du framework Front End Bootstrap.</p>
                     </div>
                     
                     <div class="accordion" id="accordion2">
                       <div class="accordion-group">
                         <div class="accordion-heading">
                           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                             
                             <h5><i class="icon-plus"></i> A quoi sert MyBeautyfullCMS ?</h5>
                           </a>
                         </div>
                         <div id="collapseOne" class="accordion-body collapse in">
                           <div class="accordion-inner">
                              
                             <p>Comme son nom l'indique, <b>MyBeautyfullCMS</b> est un outil de gestion de contenu simple, qui permet de réaliser un blog tel que <i>Sucre Sale</i>. <br />
                                Les spécifications sont accessibles sur Google Drive <a href="https://docs.google.com/file/d/0Bwf9d9IK2PaISDJ5Vk9rbEVsZkk/edit?usp=sharing">ICI</a>.
                             </p>
                           </div>
                         </div>
                       </div>
                       
                       <div class="accordion-group">
                         <div class="accordion-heading">
                           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                             <h5><i class="icon-plus"></i> Comment est hébergé ce site ?</h5>
                           </a>
                         </div>
                         <div id="collapseTwo" class="accordion-body collapse">
                           <div class="accordion-inner">
                             <p>Le service Cloud <b>appharbor</b> héberge ce blog, une documentation est disponible <a href="http://support.appharbor.com/kb/getting-started/deploying-your-first-application-using-git">ICI</a>.</p>
                           </div>
                         </div>
                       </div>

                       <div class="accordion-group">
                         <div class="accordion-heading">
                           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                             <h5><i class="icon-plus"></i> Qui a travaillé sur ce projet ?</h5>
                           </a>
                         </div>
                         <div id="collapseThree" class="accordion-body collapse">
                           <div class="accordion-inner">
                             <p>En fait, nous étions 4: Loan Truong a réalisé la charte graphique et le logo. <i>Si elle devait être notée, elle aurait certainement la meilleure note !</i></p>
                           </div>
                         </div>
                       </div>
      
                       <div class="accordion-group">
                         <div class="accordion-heading">
                           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                             <h5><i class="icon-plus"></i> Non, sérieux: qui a fait quoi ?</h5>
                           </a>
                         </div>
                         <div id="collapseFour" class="accordion-body collapse">
                           <div class="accordion-inner">
                             <p>
                                 <ul>
                                     <li>
                                         <b class="pink">Mickaël Andrieu - Développeur </b>
                                         <ul>
                                             <li>Développement de la gestion des Articles, Pages &amp; Tags.</li>
                                             <li>Développement du formulaire de Contact et de la page du Projet.</li>
                                             <li>Mise en place des accès Admin/Editeur et sécurisation.</li>
                                             <li>Intégration de la charte graphique.</li>
                                             <li>Mise en ligne sur <b>appHarbor</b> et sur <b>github</b></li>
                                             <li>Création du contenu éditorial</li>
                                         </ul>
                                     </li>
                                     <li>
                                         <b class="pink">Clément Brun - Développeur </b>
                                         <ul>
                                             <li>Gestion des Utilisateurs et des Rôles.</li>
                                         </ul>
                                     </li>
                                     <li>
                                         <b class="pink">Daphné Hanus - Chef de Projet</b>
                                         <ul>
                                             <li>Rédaction du cahier des charges.</li>
                                             <li>Réalisation de tests utilisateur.</li>
                                         </ul>
                                     </li>
                                     <li>
                                         <b class="pink">Loan Truong - Volontaire</b>
                                         <ul>
                                             <li>Réalisation de la charte graphique.</li>
                                         </ul>
                                     </li>
                                 </ul>
                             </p>
                           </div>
                         </div>
                       </div>
                       
                       <div class="accordion-group">
                         <div class="accordion-heading">
                           <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                             <h5><i class="icon-plus"></i> Pourquoi ce thème de "Sites pour filles" ? C'est complètement débile !</h5>
                           </a>
                         </div>
                         <div id="collapseFive" class="accordion-body collapse">
                           <div class="accordion-inner">
                             <p>
                                 A dire vrai, <i>Mickaël</i> n'ayant pas une grosse fibre éditoriale et ayant une tendance assez affirmée pour les filles, ça c'est fait comme ça.
                                 <br />
                                 La prochaine fois, quelqu'un d'autre s'en occupera ! ;)
                             </p>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>