@{
    ViewBag.Title = "À propos de";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>
    <p>Ce CMS est réalisé à l'aide du framework asp.net MVC.</p>
</section>
