
@{
    ViewBag.Title = "My beautifull CMS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Pour en savoir plus sur ASP.NET MVC, consultez la page
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                La page inclut <mark>des vidéos, des didacticiels et des exemples</mark> pour vous aider à tirer parti d’ASP.NET MVC.
                Si vous avez des questions sur ASP.NET MVC, consultez
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">nos forums</a>.
            </p>
            <p>
                Pour en savoir plus sur MetroUI, consultez la page
                <a href="http://metroui.org.ua" title="MetroUI Website">http://metroui.org.uac</a>.
                La page inclut <mark>une documentation et des exemples</mark> pour vous aider à prendre en main le framework.
            </p>
        </div>
    </section>

}
