@model Todo.Site.Models.Email

<!-- Logo text -->
<section id="logo">
	<h1>Checkmyserv</h1>
</section>

<!-- Description text -->


<!-- Subscription form -->
<form  method="post" id="subscribe">
	<input type="text" id="mail" name="mail" placeholder="Votre e-mail" />
    <input type="submit" value="Enregistrer" class="button" />
</form>
	